<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hr.learn.mapper.UserMapper">
    <!--配置二级缓存
    eviction：失效策略；flushInterval：刷新间隔，单位毫秒； size:缓存数目,默认1024
    readOnly:只读缓存返回相同实例，读写缓存通过序列化返回对象拷贝；-->
    <cache eviction="LRU" flushInterval="100000" readOnly="true" size="1024"/>

    <select id="findAll" resultType="com.hr.learn.model.User">
       select id,name,password from ssm_user
   </select>

    <select id="findById" parameterType="int" resultType="com.hr.learn.model.User">
        select id,name,password from ssm_user
        where id=#{id}
    </select>
</mapper>